@import "../../assets/theme/_var.scss";

.eye-icon {
    margin: 2rem;
    background-color: #1a1a1a;
    color: white;
    border: none;
    outline: none;
    padding: 0.8rem;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 0.8rem;
}