@import "../../../../assets/theme/_var.scss";

.gallery {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);

    .gallery_in {
        position: relative;

        img {
            height: 120vh;
            width: 100vw;
            object-fit: cover;
            object-position: center;
        }

        .gallery_details {
            position: absolute;
            background-color: rgba(white, 0.2);
            backdrop-filter: blur(10px);
            top: 30px;
            right: 30px;
            padding: 30px;
            border-radius: 20px;
            z-index: 1;
            color: white;

            h2 {
                font-weight: 800;
                font-size: 72px;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                color: rgba(white, 0.7);
            }
        }
    }

    .gallery_hover {
        height: 400px;
        width: 300px;
        position: fixed;
        // z-index: 2;
        top: 0;
        pointer-events: none;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}