.roadmap_sec {
    background-color: black;

    h2 {
        text-align: center;
    }

    .roadmap {
        position: relative;
        padding: 100px 0 0;

        .line {
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 4px;
            display: flex;
            align-items: center;
            flex-direction: column;
            background: linear-gradient(276.34deg, rgba(#FEB84D, 0.4) 16.17%, rgba(#EF7027, 0.4) 95.08%);

            span {
                display: inline-block;
                width: 100%;
                height: 100%;
                transform-origin: top;
                background: linear-gradient(276.34deg, #FEB84D 16.17%, #EF7027 95.08%);
            }

            &::before {
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: white;
            }

            &::after {
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                bottom: 0;
            }

            &[data-active="true"] {
                &::after {
                    background-color: #FEB84D;
                }
            }
        }
    }
}