@font-face {
    font-family: 'BMW Helvetica';
    src: url('BMWHelvetica-Bold.woff2') format('woff2'),
        url('BMWHelvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

