@import "../../../assets/theme/_var.scss";

.open_list_ {

    ul {
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        height: 80vh;
        margin: 100px 0;
        overflow: hidden;
        min-height: 600px;

        li {
            flex: 0 0 calc(100% / 4);
            position: relative;
            z-index: 1;
            transition: 200ms ease-in-out;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
                width: 100%;
                position: absolute;
                z-index: -1;
                bottom: 0;
                transition: 200ms ease-in-out;
            }

            >div {
                max-width: 100%;
                padding: 30px;
                color: white;

                h3 {
                    font-size: 40px;
                }

                p {
                    font-size: 20px;
                    margin-top: 80px;
                }
            }

            &::after {
                content: "";
                height: 100%;
                background: linear-gradient(180deg, blue, rgba(blue, 0.1));
                position: absolute;
                left: 0;
                transition: 200ms ease-in-out;
                top: 0;
                width: 0;
                z-index: -1;
            }

            &.show {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}