@import "../../../../assets/theme/_var.scss";

.roundedButton {
    border-radius: 50px;
    border: 2px solid $baseclr;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    overflow: hidden;
    padding-inline: 32px;
    color: $baseclr;
    z-index: 1;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.4s linear;

    &:hover {
        color: white;
    }

    .circle {
        width: 100%;
        z-index: -1;
        height: 150%;
        position: absolute;
        border-radius: 50%;
        top: 100%;
        background-color: $baseclr;
    }
}