@import "../../../../../assets/theme/_var.scss";


.about_card {
    padding: 8rem;
    border-radius: 4rem;
    background-color: rgba($sidebar_primary, 0.6);
    height: 100%;

    h2 {
        margin-bottom: 6rem;
        font-family: $numberfont;
        font-variant-numeric: tabular-nums;
        font-size: 10rem;
        padding-right: 2rem;
        // display: flex;
        letter-spacing: 1rem;

        >span {
            // display: block;
            width: max-content;

            >div {
                // width: max-content;
                overflow-y: clip !important;
                overflow-x: visible !important;
            }
        }

        &::after {
            content: "+";
        }
    }

    p {
        font-size: 4rem;
        font-weight: 800;
        text-align: right;
    }
}