#flip-example-two {
    .box {
        width: 400px;
        height: 400px;
        background-color: rgb(16, 96, 35);
        margin-inline: auto;
        position: absolute;
    }

    .ghost {
        background-color: rgba(53, 43, 43, 0.308);

        &.ghost-one {
            width: 400px;
            margin-inline: auto;
            height: 400px;
        }

        &.ghost-two {
            width: 200px;
            background-color: rgb(16, 96, 35);
            height: 200px;
            transform: rotate(45deg);
        }

        &.ghost-three {
            width: 300px;
            // margin-left: 80px;
            height: 300px;
            transform: rotate(160deg);
            border-radius: 3rem 4rem 6rem 3rem;
        }
    }
}