@import "../../../assets/theme/_var.scss";

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    // background-color: rgba(white, 0.5);
    backdrop-filter: blur(2rem);
    z-index: 100;
    color: white;

    h2 {
        font-size: 70px;
        font-variant-numeric: tabular-nums;
    }
}

.main_content {
    background-image: url(../../../assets/images/welcome-here/welcome-img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 0;

    ul {
        background-color: rgba(black, 0.1);
        backdrop-filter: blur(4px);
        border-radius: 30px;
        overflow: hidden;
        padding: 30px;
        max-width: fit-content;
        margin-inline: auto;

        li {
            overflow: hidden;

            span {
                font-size: 40px;
                font-weight: 600;
                display: block;
                color: white;
            }
        }
    }
}

.light_section {
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .dark_bg {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    h2 {
        font-size: 70px;
        max-width: 700px;
        margin: auto;
    }
}