.flipping_page {

    .box {
        background-color: purple;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &.active {
            left: 400px;
            width: 300px;
            height: 300px;
        }

        &.box-a {
            background-color: rgba(purple, 0.3);
        }
    }

    .small_box {
        width: 100px;
        height: 100px;
        background-color: grey;
    }

    .inner-box {
        width: 80px;
        height: 80px;
        background-color: rgb(255, 95, 95);
    }
}