@import "../../../assets/theme/_var.scss";

.offers_design {
    .design_in {
        padding: 20vh 0;

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 8rem;
                }

                &:nth-child(2) {
                    .offer_box {
                        .offer_box_shadow {
                            background: #8ddd8d;
                        }
                    }
                }

                &:nth-child(3) {
                    .offer_box {
                        .offer_box_shadow {
                            background: #6066ee;
                        }
                    }
                }

                .offer_box {
                    height: 12rem;
                    border: 2px solid $border;
                    padding: 0.8rem;
                    border-radius: 50rem;
                    display: flex;
                    align-items: center;
                    position: relative;
                    z-index: 1;

                    // overflow: hidden;
                    .offer_box_shadow_outline {
                        position: absolute;
                        top: 0;
                        z-index: -1;
                        left: 0;
                        width: 100%;
                        border-radius: inherit;
                        overflow: hidden;
                        height: 100%;

                        .offer_box_shadow {
                            background-color: #e0e055;
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 40%;
                            border-radius: inherit;
                            filter: blur(5rem);
                        }
                    }   

                    .offer_box_text {
                        color: $black;

                        h3 {
                            font-size: 4rem;
                        }

                    }

                    .offer_box_btn {
                        position: absolute;
                        top: 50%;
                        left: 0.8rem;
                        transform: translateY(-50%);
                        border-radius: 50rem;
                        width: 10.4rem;
                        background-color: $black;
                        height: 10.4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid $border;
                        cursor: pointer;

                        .offer_box_btn_icon {

                            svg {
                                width: 5rem;
                                height: 5rem;
                            }
                        }

                        .offer_box_btn_text {
                            opacity: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                width: 4rem;
                                height: auto;
                                transition: 300ms ease-in-out;
                                margin-left: 1.6rem;
                            }
                        }

                        &:hover {
                            .offer_box_btn_text {
                                svg {
                                    transform: translateX(1rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}