.homepage {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .gallery {
        z-index: -1;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 130vw;
        height: 130vw;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;

        >img {
            filter: sepia(30%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        >div {
            width: 130vw;
            height: 130vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            clip-path: circle(25% at 50% 50%);

            >img {
                filter: brightness(0.8);
            }

            >div {
                width: 130vw;
                height: 130vw;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                clip-path: circle(15% at 50% 50%);
            }
        }
    }

    .heading {
        overflow: clip;
        height: 100px;
        position: relative;
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            line-height: 100px;
            font-size: 100px;
            letter-spacing: 60px;
            text-transform: uppercase;
            color: white;
            font-weight: 500;
        }
    }

    .refresh_btn {
        position: absolute;
        bottom: 40px;
        right: 40px;
        z-index: 100;
        border: none;
        outline: none;
        background-color: rgb(162, 216, 60);
        cursor: pointer;
        padding: 4px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
            height: 20px;

            path {
                fill: black;
            }
        }
    }
}