@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$secondaryfont: "Outfit", sans-serif;
$basefont: Nokio, sans-serif;
$numberfont: "DM Mono", serif;

// $txt: #F0ECE5;
$body: #eff1f5;
$sidebar_primary: #dee2e9;
$sidebar_secondary: #e5e7ea;
$primary: #31304D;
$secondary: #191919;
$tertiary: #183D3D;
$txt: $tertiary;
$white: white;


//  z index
$sidebar: 992;
$header: 900;