@use "../../../../assets/theme/_var.scss";

.about_gallery {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100dvh;
    overflow: clip;

    .custom_scroll {
        position: absolute;
        top: 50%;
        right: 4rem;
        transform: translate(0%, -50%);
        width: 0.8rem;
        height: 40rem;
        border-radius: 5rem;
        background-color: rgba(var.$white, 0.1);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0.2rem;

        span {
            background-color: white;
            height: 100%;
            border-radius: inherit;
            max-height: 100%;
            width: 100%;
            transform: translateY(-100%);
        }
    }

    h2 {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 4rem;
        font-size: 6rem;
        line-height: 7rem;

        div {
            display: inline-block;
        }

        >div {
            overflow: clip;
            position: absolute;
            height: 7.9rem;

            >div {
                position: relative;
                // transform: translateY(75%);
                margin-left: 1rem;

                span {
                    display: block;
                    line-height: 7rem;

                    &.ing {
                        margin-left: -1rem;
                    }
                }
            }
        }
    }

    .about_bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        >div {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .bg_1 {
            background: #fad7c7;
        }

        .bg_2 {
            background: #ef8d1f;
        }

        .bg_3 {
            background: #e62a41;
        }

        .bg_4 {
            background: #492e0f;
        }
    }
}