@use "../../../assets/theme/_var.scss" as *;

.contact {
    overflow: hidden;

    .slider {
        display: flex;
        user-select: none;

        &::selection {
            background: transparent;
        }

        .slider_item {
            flex-shrink: 0;
            width: 100%;
            min-height: 100dvh;
            position: relative;

            h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 12rem;
                width: 100%;
                color: rgba(white, 0.6);
                font-weight: 700;

                .l {
                    overflow: clip;
                }
            }

            .img {
                height: 60dvh;
                bottom: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 500px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
}